h1 {
  color:MediumSeaGreen;font-family:Raleway;font-size:70px;
}
p {
  color:PowderBlue;font-size:30px;
}
#id1 {
  color:Aqua;font-family:Arial;
}

#id2 {
  text-align:center;color:Chartreuse;
}

.bluev p {
  color:Coral;font-family:Verdana;
}

.right:  {
  text-align:right;
}
