* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
    background-color: #B92D1F;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: DarkCyan;
}


.topnav a {
    float: left;
    display: block;
    color: #4D3159;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover:not(.active) {
    background-color: #EE5736;
    color: black;
}
.active {
    background-color: #ACAE18;
}

.column {
    float: left;
    padding: 10px;
}
.column.side {
    width: 30%;
}
.column.middle {
    width: 40%;
    text-align:left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.footer {
    background-color: #697ADB;
    padding: 14px;
    text-align: center;
}

.centeralign{
width:100%;
text-align:center;
}
.list{
  color:DarkCyan;
  padding-left:15px;
}
.list1{
  color:rgb(47, 144, 168);
  padding-left:15px;
}
.list2{
 color:rgb(50,160,33); 
 padding-left:15px;
}
.list3{
  color:rgb(215,96,18);
}
.tableclass, td, tr{
  border:solid 2px DarkSlateGray;
  background-color:White;
  color:DarkCyan;
}
.tableheader{
  border:solid black 2px;
  background-color: #70A536;
  color:White;
}
h2{
  text-align:center;
}
